@charset "UTF-8";


.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    opacity: 0.75;
   
 }
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
    opacity: 0.75;
 }
 
 #yellow{
	 color: black;
	 text-shadow: black,black;
	text-decoration: none;
}

p{
	font-size: larger;
}
