
.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) ;
	background: linear-gradient(0,0,0,.3),rgba(0,0,0,.3);
	width: 400px;
	padding:50px 30 px;
	border-radius: 10px;
	
	
}
